%section.bg-primary.text-center
  .jumbotron.jumbotron--mod-1
    .container
      %h1
        %span.text-bold About
        Us
        %small Our mission is profitable growth through superior customer service, innovation, quality and commitment.

%section.deal-of-day.about-us
  .container
    .row
      %section.text-center.text-md-left
        .container
          .row.flow-offset-2
            .col-md-4
              %h5 OUR MISSION
              %hr.short.bg-primary/
              %p We aim to make our clients happy by selling the best products at the best prices. We are constantly adding new products. We aim to maintain the best quality, natural products fresh from the farm. We have a vision of educating our farmers to take the export quality products in their farm so that they also get the benefits and our clients are also satisfied with the quality.
            .col-md-4
            .col-md-4
              %h5 WHAT WE DO
              %hr.short.bg-primary/
              %p
                Quality is at the center of all our visions. What we do to ensure the quality? We have an experienced and intellectual team who guide the local farmers about how to grow best quality products in the farm. To achieve this, we conduct workshops for the farmers who have the membership of our company. Here we give them knowledge regarding the cultivation of different crops. Which fertilizers to use and upto what extent to use. In addition to that we also provide seeds, crops and fertilizers to them.
    .row
      %section.text-center.text-md-left
        .container
          .row.flow-offset-2
            .col-md-4
            .col-md-4
              %h5 WHY CHOOSE US
              %hr.short.bg-primary/
              %p We have five values that have always inspired us; take pride, be passionate, never give up, work as a team and always satisfy the customers.
              %p we work under surveillance of APEDA regulations.
              %p We have ability to process large scale orders.
              %p We have agriculture specialist to manage all the process.
            .col-md-4