#bannerCarousel.carousel.slide{"data-ride" => "carousel"}
  .height-480
    .jumbotron.text-center
      %h1
        %span.text-bold> Real
        Quality
        %small farm-grown products
      %p.big
        We can call ourselves the innovators in this business. And these are not just words. They have
        %br.visible-xl-inline/
        solid background. You can find real proof reading more about our company.
      .btn-group-variant
        %a.btn.btn-default.round-xl.btn-sm{ :href => portfolio_path } SEE ALL PRODUCTS
        %a.btn.btn-default.round-xl.btn-sm{ :href => about_us_path } ABOUT US

%section.deal-of-day
  .container
    .row
      .col-lg-6.col-lg-offset-3.text-center
        %h1 Our Products
        %p.lead
          We offer 100% organic, natural and best quality products.
    .row.offset-1.flow-offset-2
      - @products.each do |product|
        .col-sm-12.col-md-4.product-image
          .thumbnail.thumbnail-4.pricing-box.pricing-box-2
            .caption
              %h6.text-uppercase.letter-spacing-1= product[:title]
            = image_tag "portfolio/#{product[:image]}", alt: "#{product[:title]}", id: 'current-product-image', class: 'products'
%section.well-inset-2.text-center.bg-image.bg-image-4.core-values
  .jumbotron.jumbotron--mod-1
    .container
      %h1
        %span.text-bold Core
        Values
        %small Our mission is profitable growth through superior customer service, innovation, quality and commitment.
      .btn-group-variant.no-offset
        %a.btn.btn-default.round-xl.btn-sm{:href => about_us_path } Learn more
        %a.btn.btn-default.round-xl.btn-sm{:href => contact_us_path } Contact us