#background-carousel
  .carousel.slide#myCarousel{"data-ride" => "carousel"}
    %ol.carousel-indicators
      %li.active{"data-slide-to" => "0", "data-target" => "#myCarousel"}
      %li{"data-slide-to" => "1", "data-target" => "#myCarousel"}
      %li{"data-slide-to" => "2", "data-target" => "#myCarousel"}
      %li{"data-slide-to" => "3", "data-target" => "#myCarousel"}
    .carousel-inner.height-480{:role=>"listbox"}
      .item.active{:style=>"background-image:url(/assets/onion1.jpg)", :id=>"carousel1"}
        .jumbotron.text-right
          %h1
            %span Real Quality
            %small farm-grown products
          %p.big
            We can call ourselves the innovators in this business. And these are not just words. They have
            %br.visible-xl-inline/
            solid background. You can find real proof reading more about our company.
          .btn-group-variant
            %a.btn.btn-default.round-xl.btn-sm{ :href => about_us_path } About Us
      .item{:style=>"background-image:url(/assets/red-pomegranate.jpg)", :id=>"carousel2"}
        .jumbotron
          %h1
            %small
              The agri products traders, exporters, importers
              %br.visible-xl-inline/
              Export import facilitators
          %p.big
            Fruits | Vegetables | Groceries | Everything
            %br.visible-xl-inline/
            about agriculture
          .btn-group-variant
            %a.btn.btn-default.round-xl.btn-sm{ :href => contact_us_path } Contact Us
      .item{:style=>"background-image:url(/assets/custardapple.jpg)", :id=>"carousel3"}
        .jumbotron.text-right
          %h1
            %span Our Services
            %small
              Export fresh fruits, vegetables etc from India
              %br.visible-xl-inline/
              Importers of Fruits and Vegetables in Al Aweer Market Dubai
              %br.visible-xl-inline/
          .btn-group-variant
            %a.btn.btn-default.round-xl.btn-sm{ :href => portfolio_path } See All Products
      .item{:style=>"background-image:url(/assets/pulses.jpg)", :id=>"carousel4"}
        .jumbotron.text-right
          %h1
            %span Our Speciality
            %small Cereals and Pulses
            %p.big
              Wheat | Jowar | Maize | Toor Daal | Masoor Daal | Chana Daal

%section.well-inset-2.text-center.deal-of-day.about-us
  .container
    .row
      .col-lg-6.col-lg-offset-3.text-center
        %h1 Our Products
        %p.lead
          We at bhagwant export offer variety of products which are 100% organic, natural and best quality products.
    .row.offset-1.flow-offset-2
      .col-sm-12.col-md-4
        .item-fruit-cat1
          %h2.title18.color2.text-uppercase.font-bold.text-center.product-category fruits & vegetables
          .title18.line-space.color.text-center
            %i.fa.fa-pagelines
          .line-dashed
          .title18.text-uppercase.text-left
            %ul.list-none.cat-menu-2
              %li
                %span.glyphicon.glyphicon-chevron-right{"aria-hidden" => "true"}
                custard apple
              %li
                %span.glyphicon.glyphicon-chevron-right{"aria-hidden" => "true"}
                pomegranate
              %li
                %span.glyphicon.glyphicon-chevron-right{"aria-hidden" => "true"}
                onion
              %li
                %span.glyphicon.glyphicon-chevron-right{"aria-hidden" => "true"}
                drumstick
              %li
                %span.glyphicon.glyphicon-chevron-right{"aria-hidden" => "true"}
                tomato
              %li
                %span.glyphicon.glyphicon-chevron-right{"aria-hidden" => "true"}
                green chilli
      .col-sm-12.col-md-4
        .item-fruit-cat1
          %h2.title18.color2.text-uppercase.font-bold.text-center.product-category seeds & powders
          .title18.line-space.color.text-center
            %i.fa.fa-pagelines
          .line-dashed
          .title18.text-uppercase.text-left
            %ul.list-none.cat-menu-2
              %li
                %span.glyphicon.glyphicon-chevron-right{"aria-hidden" => "true"}
                drumstick seeds
              %li
                %span.glyphicon.glyphicon-chevron-right{"aria-hidden" => "true"}
                tamarind seeds
              %li
                %span.glyphicon.glyphicon-chevron-right{"aria-hidden" => "true"}
                soya bean
              %li
                %span.glyphicon.glyphicon-chevron-right{"aria-hidden" => "true"}
                tamarind kernel powder
      .col-sm-12.col-md-4
        .item-fruit-cat1
          %h2.title18.color2.text-uppercase.font-bold.text-center.product-category Cereals & Pulses
          .title18.line-space.color.text-center
            %i.fa.fa-pagelines
          .line-dashed
          .title18.text-uppercase.text-left
            %ul.list-none.cat-menu-2
              %li
                %span.glyphicon.glyphicon-chevron-right{"aria-hidden" => "true"}
                wheat
              %li
                %span.glyphicon.glyphicon-chevron-right{"aria-hidden" => "true"}
                jowar
              %li
                %span.glyphicon.glyphicon-chevron-right{"aria-hidden" => "true"}
                maize
              %li
                %span.glyphicon.glyphicon-chevron-right{"aria-hidden" => "true"}
                chana daal
              %li
                %span.glyphicon.glyphicon-chevron-right{"aria-hidden" => "true"}
                masoor daal
              %li
                %span.glyphicon.glyphicon-chevron-right{"aria-hidden" => "true"}
                toor daal
    .row.offset-1.flow-offset-2
      .col-sm-12.col-md-4.product-image
        .thumbnail.thumbnail-4.pricing-box.pricing-box-2
          = image_tag "portfolio/onion.jpg", alt: "onion", id: 'current-product-image', class: 'products'
      .col-sm-12.col-md-4.product-image
        .thumbnail.thumbnail-4.pricing-box.pricing-box-2
          = image_tag "portfolio/soybeans.jpg", alt: "soybeans", id: 'current-product-image', class: 'products'
      .col-sm-12.col-md-4.product-image
        .thumbnail.thumbnail-4.pricing-box.pricing-box-2
          = image_tag "portfolio/maize.jpg", alt: "maize", id: 'current-product-image', class: 'products'
    .jumbotron
      %a.btn.btn-primary.round-xl.btn-sm{ :href => portfolio_path } View More
%section.well-inset-2.text-center.bg-image.bg-image-4.core-values
  .jumbotron.jumbotron--mod-1
    .container
      %h1
        We are also
        %span.text-bold Importers
        %small at Al Aweer Fruits & Vegetables Market Dubai. We import fresh fruits and vegetables. For more opportunities and details kindly contact us.
      .btn-group-variant.no-offset
        %a.btn.btn-default.round-xl.btn-sm{:href => contact_us_path } Contact us

:javascript
  
  $('#myCarousel').carousel({
    pause: 'none'
  })